float_ops_apx/0_rnd.txt
float_ops_apx/BT_RND.txt
float_ops_apx/BT_RND_acc_vs_apx.txt
float_ops_apx/INCA_libs/
float_ops_apx/TRUNCATION.txt
float_ops_apx/TRUNCATION_acc_vs_apx.txt
float_ops_apx/apx_float_adder_inef.v
float_ops_apx/blah.txt
float_ops_apx/float_values_and_conversion.txt
float_ops_apx/float_values_in_hex.txt
float_ops_apx/input_database/
log
float_ops_apx/my_waves.shm/
float_ops_apx/ncverilog.key
float_ops_apx/ncverilog.log
float_ops_apx/read_file.v
int_ops_apx/BT_RND.txt
int_ops_apx/TRUNCATION.txt
int_ops_apx/log
int_ops_apx/ncverilog.key
int_ops_apx/xt
